<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
</head>
<body>

<div class="container">
    <div th:fragment="header">
		<title>Code Captain</title>
		<div class="row text-left">
			<div class="col-md-3">
				<img src="../../static/images/world_map_png-6.png" width="185"
					th:src="@{/images/world_map_png-6.png}" />
			</div>
			<div class="col-md-9">
				<div class="">
					<h2>Code Captain</h2>
					<h4>Hello World</h4>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/users}">Users</a></li>
                        <li><a href="#" th:href="@{/assignments}">Assignments</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
</body>
</html>