<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

</head>
<body>

<div class="container">
    <div th:fragment="header">
            <div class="row text-left">
				<div class="col-md-2">
					<img src="../../static/images/captain-one.png" width="145" th:src="@{/images/captain-one.png}"/>
				</div>
				<div class="col-md-10">
					<div class="">
						<h2>Code Captain</h2>
						<h3>AP Computer Science</h3>
					</div>
				</div>
            </div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/start}">Start</a>
                </div>
            </div>
        </nav>
    </div>
</div>
</body>
</html>