<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

</head>
<body>

<div class="container">
    <div th:fragment="header">
            <div class="row text-left">
				<div class="col-md-2">
					<img src="../../static/images/captain-two.png" width="145" th:src="@{/images/captain-two.png}"/>
				</div>
				<div class="col-md-10">
					<div class="">
						<h2>Code Captain</h2>
						<h3>AP Computer Science</h3>
					</div>
				</div>
            </div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/products}">Products</a></li>
                        <li><a href="#" th:href="@{/product/new}">Create Product</a></li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>
</div>
</body>
</html>